section{
    top:210px;
    position: relative;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#t_deal,#r_stock{
    background-color: brown;
    color:white;
    margin-top:20px;
    margin-bottom:20px;
    padding:8px;
    font-size:1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow:hidden;
}
#item_image{
    float: left;
    height: 180px;
    padding:10px;
}
#item_title{
    font-size: 1.5em;
    display: flex;
}
#date{
    font-family: sans-serif;font-size:0.8em;
    float:right;
    padding:10px;
}
#item_image:hover{
    height: 200px;
    box-shadow: 0px 0px 50px 10px rgb(83, 83, 83);
    margin:10px;
}
#h1,#h2,#h3,#h4,#h5,#h6{
    font-size:0.8em;
    display: flex;
    justify-content: right;
    cursor:pointer;
    padding:10px;
}