html{
    background-color: rgb(12, 12, 94);
    position: relative;
    margin:-10px;
    overflow-x:hidden;overflow-y:auto;
}
a{
    text-decoration: none;
    color:rgb(128, 34, 34);
}
.nav_bar{
    background-color: aliceblue;
    position:fixed;
    z-index:5;
    top:0;left:0;right:0;
    box-shadow: 0px 0px 15px 1px rgba(43, 43, 43, 0.733);
}
#headings{
    border-bottom: 1px solid black;
}
#heading{
    font-size: 3em;
    color:brown;
    background-color: aliceblue;
    padding:10px;
}
#smallheading{
    font-size:1.6em;
    color:brown;
    font-variant: small-caps;
    text-align: right;
    margin-right:10px;
}
#nav{
    display: flex;
    position: relative;
    flex-direction: column;
}
#go_to{
    font-size: 1.4em;
    margin:10px;margin-left:50px;
}
#go_to>a{
    padding-right:60px;
}
.search{
    color:brown;  
    margin-right:10px;margin-bottom:10px;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;align-items: right;text-align: right;
}
#inputs{
    display: none;
    width: 500px;
    font-size:1.2em;
    border:2px solid rgb(12, 12, 94);
}
#search{
    font-size:1.2em;padding:10px;
    cursor: pointer;color:red;
}
.fa-heart{
    color:red;
}
#strike{
    text-decoration: line-through;
    color:red;
}
.dprice{
    margin-top:30px;
    font-size: 0.8em;
    color:black;display: inline;
}
.price{
    font-size: 1em;
}