<html lang="en-US">
<html>
    <head>
        <title>Nintendo</title>
        <meta name="author" content="Winston Tech">
        <meta name="description" content="Winston Tech,computer and accessories">
        <meta name="keywords" content="techanology,Winston Tech,computer and accessories,computer,graphics,monitors,tech,winston,myanmar,techmyanmar,nividia,worth buying,computer tech,tech winston,tech,pc,laptop,desktop,monitor,cpu,gpu,shop">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="../style/shop.css">
        <link rel="stylesheet" href="../style/consoles.css">
        <script src="https://kit.fontawesome.com/e03dfdd076.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="nav_bar">
                <div id="headings">
                    <div id="heading">Winston Tech</div>
                    <div id="smallheading">PC, Consoles & Accessories sales</div>
                </div>
                <div id="nav">
                    <div id="go_to">
                        <a href="../index.html" title="To Home Page">Home</a>
                        <a href="../templates/pc.html" title="To Shop Page">Shop</a>
                        <a href="#">FAQ</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="search">
                    <input type="search" id="inputs" placeholder="Search...">
                    <i id="search" onclick="search()" class="fa-solid fa-magnifying-glass" title="search"></i>
                    <div id="caretdown" style="display:none" title="caret-down" onclick="caret()"><i class="fa-solid fa-caret-down"></i></div>
                    <div onclick="caret()" title="caret-up" id="caretup"><i class="fa-solid fa-caret-up"></i></div></div>
                </div>
            </div>
        </header>
        <main>
            <div id="second_sec">
                <div id="shop_choice">
                    <a href="../templates/pc.html"><i class="fa-solid fa-computer"></i><div id="pc"> PC </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/playstation.html"><i class="fa-brands fa-playstation"></i><div id="ps"> Playstation </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/xbox.html"><i class="fa-brands fa-xbox"></i><div id="xb"> X-Box </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/nintendo.html"style="font-size:22px;color:rgb(12, 12, 94)"><i class="fab fa-nintendo-switch"></i><div id="nin"> Nintendo </div><i class="fa-solid fa-caret-right"></i></a>
                </div>
                <div id="console_plain">
                    <div id="consoles">
                        <div class="objects" id=""><a href="#"><image class="images" src="../images/nintendo/Oled.jpg"></image><div class="title">Nintendo Switch-OLED MODEL</div><br>Price: $ 349.99<br><div class="dprice">Normal Price: <span id="strike">$ 399.9</span>(save $50)</div></a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61-PblYntsL._AC_SX679_.jpg"></image><div class="title">Nintendo Switch V2</div><br>Price: $ 316.98</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71qmF0FHj7L._AC_SX522_.jpg"></image><div class="title">Nintendo Switch Lite</div><br>Price: $244.44</a></div>
                        <div class="objects" id=""><a href="#"><image class="images"  src="https://m.media-amazon.com/images/I/81Sxdp0JBLL._AC_SX679_.jpg"></image><div class="title">Nintendo Switch-Animal Crossing<br>:New Horizons Edition</div><br>Price: $349.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images"  src="https://m.media-amazon.com/images/I/61drpi3cYUL._SX522_.jpg"></image><div class="title">Nintendo Switch Pro Controller</div><br>Price: $ 82.49</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61gAv5rkK3L._SX522_.jpg"></image><div class="title">Nintendo Joy-Con (L/R)<br>Neon Pink/Neon Green</div><br>Price: $ 96.77</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61WwOz-832L._SX466_.jpg"></image><div class="title">$100 PlayStation Store Gift Card<br>[Digital Code]</div><br>Price: $100.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71MpUuCYU4L._SY445_.jpg"></image><div class="title">$45 Nintendo eShop Gift Card<br>[Digital Code]</div><br>Price: $45.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71kYjm-EI8L._SY445_.jpg"></image><div class="title">$35 Nintendo eShop Gift Card<br>[Digital Code]</div><br>Price: $ 35.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71HYKF4rO9L._SY445_.jpg"></image><div class="title">Pokémon Legends: Arceus<br>(Nintendo Switch)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71EDKpjjebL._SY445_.jpg"></image><div class="title">Grand Theft Auto:The Trilogy<br>Nintendo Switch</div><br>Price: $ 74.72</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/714e+3ta40L._SY445_.jpg"></image><div class="title">Minecraft Dungeons Ultimate Edition<br>(Nintendo Switch)</div><br>Price: $ 44.95</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81gJUSx-TjL._SY445_.jpg"></image><div class="title">Minecraft<br>(Nintendo Switch)</div><br>Price: $ 49.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81-FD3tzUlL._SY445_.jpg"></image><div class="title"></div>Luigi's Mansion 3 Standard<br>Edition(Nintendo Switch)<br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81qKst2CMOL._SY445_.jpg"></image><div class="title">Animal Crossing: New Horizons<br>(Nintendo Switch)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81F1eKUToxL._SY445_.jpg"></image><div class="title">Pokémon Sword<br>(Nintendo Switch)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81AJgT3cO-S._SY445_.jpg"></image><div class="title">Pokémon Shield<br>(Nintendo Switch)</div><br>Price: $ 52.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81ErLLyfr5L._SY445_.jpg"></image><div class="title">Pokémon Brilliant Diamond<br>(Nintendo Switch)</div><br>Price: $ 74.72</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/818iETWG-aL._SY445_.jpg"></image><div class="title">Pokémon Shining Pearl<br></div>(Nintendo Switch)<br>Price: $ 74.72</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81y8cNk-v1L._SY445_.jpg"></image><div class="title">The Legend Of Zelda: Skyward Sword<br>(Nintendo Switch)</div><br>Price: $ 52.01</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81yCdxV54SL._SY445_.jpg"></image><div class="title">The Legend of Zelda: Breath of the Wild<br>(Nintendo Switch)</div><br>Price: $ 60.95</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/91z5JYtUZAS._AC_UY218_.jpg"></image><div class="title">Legend of Zelda Link's Awakening<br>(Nintendo Switch)</div><br>Price: $ 51.01</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71E+KjuboFL._AC_UY218_.jpg"></image><div class="title">Metroid Dread<br>(Nintendo Switch)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81eJlNQ1UCL._SY445_.jpg"></image><div class="title">Pokemon: Let's Go, Pikachu!<br>(Nintendo Switch)</div><br>Price: $ 57.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81kj6KHQQPL._SY445_.jpg"></image><div class="title">Pokemon: Let's Go, Eevee!<br>(Nintendo Switch)</div><br>Price: $ 58.86</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71pNu+RikwL._SY445_.jpg"></image><div class="title">Witcher 3: Wild Hunt Complete<br>Edition (Nintendo Switch)</div><br>Price: $ 74.72</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/813Cey7SldL._AC_SY741_.jpg"></image><div class="title">FIFA 22 Legacy Edition<br>(Nintendo Switch)</div><br>Price: $ 39.15</a></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <script src="../scripts/script.js"></script>
    </footer>
</html>
