<html lang="en-US">
<html>
    <head>
        <title>PC</title>
        <meta name="author" content="Winston Tech">
        <meta name="description" content="Winston Tech,computer and accessories">
        <meta name="keywords" content="techanology,Winston Tech,computer and accessories,computer,graphics,monitors,tech,winston,myanmar,techmyanmar,nividia,worth buying,computer tech,tech winston,tech,pc,laptop,desktop,monitor,cpu,gpu,shop">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="../style/shop.css">
        <link rel="stylesheet" href="../style/pc.css">
        <script src="https://kit.fontawesome.com/e03dfdd076.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="nav_bar">
                <div id="headings">
                    <div id="heading">Winston Tech</div>
                    <div id="smallheading">PC, Consoles & Accessories sales</div>
                </div>
                <div id="nav">
                    <div id="go_to">
                        <a href="../index.html" title="To Home Page">Home</a>
                        <a href="../templates/pc.html" title="To Shop Page">Shop</a>
                        <a href="#">FAQ</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="search">
                    <input type="search" id="inputs" placeholder="Search...">
                    <i id="search" onclick="search()" class="fa-solid fa-magnifying-glass" title="search"></i>
                    <div id="caretdown" style="display:none" title="caret-down" onclick="caret_beta()"><i class="fa-solid fa-caret-down"></i></div>
                    <div onclick="caret_beta()" title="caret-up" id="caretup"><i class="fa-solid fa-caret-up"></i></div></div>
                </div>
            </div>
        </header>
        <main>
            <div id="second_sec">
                <div id="shop_choice">
                    <a href="../templates/pc.html" style="font-size:1.2em;color:rgb(12, 12, 94)"><i class="fa-solid fa-computer"></i><div id="pc"> PC </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/playstation.html"><i class="fa-brands fa-playstation"></i><div id="ps"> Playtation </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/xbox.html"><i class="fa-brands fa-xbox"></i><div id="xb"> X-Box</div> <i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/nintendo.html"><i class="fab fa-nintendo-switch"></i><div id="nin"> Nintendo</div> <i class="fa-solid fa-caret-right"></i></a>    
                </div>
                
                <div id="button_pc" onclick="button_pc()"><i title="MENU" class="fa-solid fa-bars"></i></div>
                <div id="components">
                    <div id="c_1" onclick="component_switch(1)">CPU</div>
                    <div id="c_2" onclick="component_switch(2)">Graphic Card</div>
                    <div id="c_3" onclick="component_switch(3)">Monitor</div>
                    <div id="c_10" onclick="component_switch(10)">Motherboard</div>
                    <div id="c_4" onclick="component_switch(4)">Memory</div>
                    <div id="c_5" onclick="component_switch(5)">Storage</div>
                    <div id="c_6" onclick="component_switch(6)">CPU Fan</div>
                    <div id="c_7" onclick="component_switch(7)">Fan</div>
                    <div id="c_8" onclick="component_switch(8)">Case</div>
                    <div id="c_9" onclick="component_switch(9)">Accessories</div>
                </div>
                <div id="plain">
                    <div id="object_cpu">
                        <div id="i_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51zVwEFQq-S._SY450_.jpg"></image>Intel Core i3-10105F <br>(4 Cores up to 4.4GHz)<br>Price: $ 124.45</div>
                        <div id="i_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/4110NVtJY4L._SY450_.jpg"></image>Intel Core i3 12100F <br>(4 Cores up to 4.3GHz)<br>Price: $ 199.99</div>
                        <div id="i_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51V+MalhMHL._SY450_.jpg"></image>Intel Core i5-12400 <br>(6 Cores up to 4.4GHz)<br>Price: $ 240.99</div>
                        <div id="i_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51GqY3A8-vL._AC_SX679_.jpg"></image>Intel Core i5-12600KF <br>(10 Cores up to 4.9GHz)<br>Price: $ 336.99</div>
                        <div id="i_5" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51gEF5jd3TL._AC_SX679_.jpg"></image>Intel Core i5-12600K <br>(10 Cores up to 4.9GHz)<br>Price: $ 342.99</div>
                        <div id="i_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71Q5sdPHD-L._AC_SX679_.jpg"></image>Intel Core i7-9700K <br>(8 Cores up to 3.6GHz)<br>Price: $ 380.97</div>
                        <div id="i_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/514VNpfgxIL._AC_SL1040_.jpg"></image>Intel Core i7-12700K <br>(12 Cores up to 5.0GHz)<br>Price: $ 485</div>
                        <div id="i_8" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51ya+3WitML._AC_SX679_.jpg"></image>Intel Core i7-12700KF <br>(12 Cores up to 5.0GHz)<br>Price: $ 479.85<br>Normal Price: <div class="dprice"><span id="strike">$ 499.85</span>(-save $20)</div></div>
                        <div id="i_9" class="object"><image class="images"src="https://m.media-amazon.com/images/I/31PY8wQz+lL._AC_.jpg"></image>Intel Core i9-11900KF <br>(8 Cores up to 5.3GHz)<br>Price: $ 623.25</div>
                        <div id="i_10" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61RnzuOIOoL._AC_SX679_.jpg"></image>Intel Core i9-12900K <br>(16 Cores up to 5.2GHz)<br>Price: $ 935.99</div>
                        <div id="i_11" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51q4V9fOZSL._AC_SX679_.jpg"></image>Intel Core i9-12900KF <br>(16 Cores up to 5.2GHz)<br>Price: $ 895.99</div>
                        <!--------------------------------------->
                        <div id="r_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71WPGXQLcLL._AC_SX679_.jpg"></image>AMD Ryzen 5 3600 <br>(6 Cores up to 4.2GHz)<br>Price: $ 250.0</div>
                        <div id="r_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51KHD9nx51S._AC_SX679_.jpg"></image>AMD Ryzen 5 5600G <br>(6 Cores up to 4.4GHz)<br>Price: $ 279.0</div>
                        <div id="i_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/614A-2TbKtL._AC_SX679_.jpg"></image>Intel Core i3-10320 <br>(4 Cores up to 4.6GHz)<br>Price: $ 239.99</div>
                        <div id="r_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61vGQNUEsGL._AC_SX679_.jpg"></image>AMD Ryzen 5 5600X <br>(6 Cores up to 4.6GHz)<br>Price: $ 316.99</div>
                        <div id="r_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51p5BjKPc1L._AC_SX679_.jpg"></image>AMD Ryzen 7 5700G <br>(8 Cores up to 4.6GHz)<br>Price: $ 415.0</div>
                        <div id="i_5" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61DYLoyNRWL._AC_SX679_.jpg"></image>AMD Ryzen 7 5800X <br>(6 Cores up to 4.7GHz)<br>Price: $ 239.99</div>
                        <div id="r_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SX679_.jpg"></image>AMD Ryzen 9 5900X <br>(12 Cores up to 4.8GHz)<br>Price: $566.87</div>
                        <div id="r_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/616VM20+AzL._AC_SX679_.jpg"></image>AMD Ryzen 9 5950X <br>(16 Cores up to 4.9GHz)<br>Price: $ 929.99</div>
                    </div>
                    <div id="object_gpu" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/619Ui9f--pL.__AC_SX300_SY300_QL70_FMwebp_.jpg"></image>MSI Gaming GeForce GTX 1660Super<br>6GB GDRR6<br>Price: $ 434.99</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/515XmsrkDJL._AC_SX679_.jpg"></image>MSI Gaming GeForce RTX 3050<br>8GB GDRR6<br>Price: $ 439.66</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71Dl21jUedS._AC_SX679_.jpg"></image>GIGABYTE GeForce RTX 3060<br>Vision OC 12GB<br>Price: $ 630.04</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61NQBW4ytbL._AC_SX679_.jpg"></image>MSI Gaming GeForce RTX 2060 Super<br> 8GB GDRR6<br>Price: $ 679.99</div>
                        <div id="g_5" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/81ZWSNdXNSS.__AC_SY300_SX300_QL70_FMwebp_.jpg"></image>GIGABYTE GeForce RTX 3070Ti<br>OC 8GB GDDR6X<br>Price: $ 959.99</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81I+u2AAe0L._AC_SX679_.jpg"></image>ZOTAC Gaming GeForce RTX 3070<br>Ti AMP Holo 8GB GDDR6X<br>Price: $ 1230.99</div>
                        <div id="g_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81kf3+5l2LS._AC_SX679_.jpg"></image>MSI Gaming GeForce RTX 3080Ti<br>12GB GDRR6X<br>Price: $ 2250.0</div>
                        <div id="g_8" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/81JP9a4rCCS.__AC_SY300_SX300_QL70_FMwebp_.jpg"></image>ZOTAC Gaming GeForce RTX 3090<br>Trinity OC 24GB GDDR6X<br>Price: $ 2399.97</div>
                        <div id="g_9" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61-7uGhZfQL._AC_SX679_.jpg"></image>MSI Gaming GeForce RTX 3090<br>OC 24GB GDRR6X<br>Price: $ 3250.99</div>
                        <div id="g_10" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81s62kcdU7L._AC_SX679_.jpg"></image>ASUS ROG STRIX NVIDIA GeForce<br>RTX 3090White OC Edition 24GB<br>Price: $ 3329.0</div>
                    </div>
                    <div id="object_monitor" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71rXSVqET9L._AC_SX679_.jpg"></image>Sceptre 24" Professional Thin<br>75Hz 1080p LED<br>Price: $ 139.98</div>
                        <div id="g_2" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/81XKPle6OAL.__AC_SY300_SX300_QL70_FMwebp_.jpg"></image>SAMSUNG Odyssey G3 Series 27"<br>144Hz FHD 1080p <br>Price: $ 274.0</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71hBxWot-VL._AC_SX679_.jpg"></image>ASUS VL249HE 23.8" Eye Care<br>1080P Full HDa 75Hz<br>Price: $ 145.44</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/91lZq0WOG8L._AC_SX679_.jpg"></image>LG 27GN750-B UltraGear27"<br>FHD (1920x1080) IPS Display<br>1ms Response, 240HZ <br>Price: $ 399.99</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81WBbFOEHwL._AC_SX679_.jpg"></image>LG 34WN80C-B UltraWide 34"<br>Curved WQHD(3440 x 1440)IPS<br>Price: $ 637.0</div>
                        <div id="g_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/918zlLpVadL._AC_SX679_.jpg"></image>Asus ROG Strix XG49VQ 49"<br>Curved 144Hz Dual Full HD<br>Price: $ 690.26</div>
                        <div id="g_8" class="object"><image class="images"src="../images/pc/monitor.jpg"></image>LG 38WK95C-W 38"<br>Curved UltraWide WQHD<br>Price:  996.99<br>Normal Price: <div class="dprice"><span id="strike">$ 1299.99</span>(-save $303.0)</div></div>
                        <div id="g_9" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61XdCB48e9L._AC_SX679_.jpg"></image>ViewSonic VA2446MH-LED 24"<br>FHD 1080p LED<br>Price: $ 242.88</div>
                        <div id="g_10" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71mU5rpECpL._AC_SX679_.jpg"></image>Sceptre Curved 30" 21:9<br> Gaming LED 2560x1080p<br>UltraWide Ultra Slim<br>Price: $ 2497.0</div>
                    </div>
                    <div id="object_ram" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/51XWCgqIUVL.__AC_SY300_SX300_QL70_FMwebp_.jpg"></image>Corsair Vengeance LPX 16GB<br>(2x8GB)DDR4 3200MHz<br>Price: $ 120.60</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71Kkm5nIRKL._AC_SX679_PIbundle-2,TopRight,0,0_SH20_.jpg"></image>Corsair Vengeance RGB PRO 16GB<br>(2x8GB) DDR4 3200MHz<br>Price: $ 129.69</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71PO+kkZ+SL._AC_SX679_PIbundle-4,TopRight,0,0_SH20_.jpg"></image>G.SKILL TridentZ RGB 32GB<br>(4x8GB) DDR4 3600 MHz<br>Price: $ 214.0</div>
                        <div id="g_4" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/71KvpD-WuNL.__AC_SX300_SY300_QL70_FMwebp_.jpg"></image>T-Force Delta RGB 16GB<br>(2x8GB) DDR4 3600MHz<br>Price: $ 130.45</div>
                        <div id="g_6" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/71BgQ8Y3pKL.__AC_SX300_SY300_QL70_FMwebp_.jpg"></image>XPG Lancer 32GB<br>(2x16GB) DDR5 5200MHz<br>Price: $ 442.79</div>
                    </div>
                    <div id="object_storage" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/911ujeCkGfL._AC_SX679_.jpg"></image>Samsung 870 EVO SATA 3 SSD<br>1TB 2.5"<br>Price: $ 99.99</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/91RL+MhTWbL._AC_SX679_.jpg"></image>Kingston A400 SATA 3<br>240GB 2.5" Internal SSD<br>Price: $ 39.99</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81CdpEGnJCS._AC_SX679_.jpg"></image>Western Digital 1TB WD Blue<br>PC Hard Drive HDD<br>Price: $ 50.0</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81vkjxbO-rL._AC_SX679_.jpg"></image>SAMSUNG 970 EVO Plus SSD<br>1TB M.2 NVMe<br>Price: $ 122.0</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/714VYiAYssL._AC_SX679_.jpg"></image>SAMSUNG 980 SSD M.2 NVMe 1TB<br>Price: $ 158.84</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81zJ87YqekL._AC_SX679_.jpg"></image>Samsung 980 PRO SSD<br>1TB NVMe M.2 Gen 4<br>Price: $ 199.99</div>
                    </div>                  
                    <div id="object_motherboard" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81YOcB0sHbL._AC_SX679_.jpg"></image>MSI Z390-A PRO LGA1151<br>(Intel 8th/9th Gen)<br>Price: $ 499.0</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/91NSLPradIL._AC_SX679_.jpg"></image>MSI H510M-A PRO ProSeries LGA1200<br>(Intel 11th/10th Gen)<br>Price: $ 124.99</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/818ZoQx9xbL._AC_SX679_.jpg"></image>ASUS Prime B560M-A LGA1200<br>(Intel 11th/10th Gen)<br>Price: $ 128.99</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61MCuLu76vL._AC_SX679_.jpg"></image>ASROCK Z690M Phantom Gaming 4 LGA1700<br>Supports Intel 12th Gen<br>Price: $ 194.86</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81WVEn+zILL._AC_SX679_.jpg"></image>ASUS Prime Z690-A LGA1700<br>Supports Intel 12th Gen<br>Price: $ 334.65</div>
                        <div id="g_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/819xjtWN4AL._AC_SX679_.jpg"></image>ASUS TUF Gaming Z690-Plus WiFi LGA1700<br>Supports Intel 12th Gen<br>Price: $ 333.49</div>
                        <div id="g_8" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/81cScZBfjBL.__AC_SX300_SY300_QL70_FMwebp_.jpg"></image>ASUS ROG Strix Z690-F Gaming WiFi 6E LGA1700<br>Supports Intel 12th Gen<br>Price: $ 549.99</div>
                        <div id="g_9" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81Ni+xrVXeL._AC_SX679_.jpg"></image>ASUS Prime B450M-A II AMD AM4<br>(Ryzen 5000, 3rd/2nd/1st Gen)<br>Price: $ 77.99</div>
                        <div id="g_10" class="object"><image class="images"src="https://m.media-amazon.com/images/I/910jyKG9QlL._AC_SX679_.jpg"></image>MSI MAG B550 TOMAHAWK AMD AM4<br>(Ryzen 5000)<br>Price: $ 167.0</div>
                        <div id="g_11" class="object"><image class="images"src="https://m.media-amazon.com/images/I/91MWQtTH4bL._AC_SX679_.jpg"></image>ASUS ROG Strix B450-F AMD AM4<br>(Ryzen 5000, 3rd Gen)<br>Price: $ 169.96</div>
                        <div id="g_12" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81rgqqBI0FL._AC_SX679_.jpg"></image>ASUS TUF Gaming B550M-PLUS (WiFi 6) AMD AM4(3rd Gen)<br>Price: $ 218.66</div>
                        <div id="g_13" class="object"><image class="images"src="https://m.media-amazon.com/images/I/91kdrslJYTL._AC_SX679_.jpg"></image>ASUS Prime B550M-A WiFi AMD AM4<br>(Ryzen 5000 & 3rd Gen)<br>Price: $ 165.63</div>
                        <div id="g_14" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/81mDx91oYLL.__AC_SX300_SY300_QL70_FMwebp_.jpg"></image>ASUS TUF Gaming X570-Plus AMD AM4<br>(Ryzen 5000 & 3rd Gen)<br>Price: $ 249.0</div>
                        <div id="g_15" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/91oChAepmRL.__AC_SY300_SX300_QL70_FMwebp_.jpg"></image>MSI MPG B550 GAMING PLUS AMD AM4<br>(Ryzen 5000 & 3rd Gen)<br>Price: $ 196.76</div>
                    </div>
                    <div id="object_cpufan" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71mCqGYcA0L._AC_SX679_.jpg"></image>Cooler Master Hyper 212<br>Black Edition RGB CPU Cooler<br>Price: $ 74.62</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61CGQH59UGL._AC_SX679_.jpg"></image>be quiet! Dark Rock Pro4<br>CPU Cooler<br>Price: $ 134.68</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51QqK4Rc03L._SX466_.jpg"></image>NZXT Kraken Z73 360mm<br>RGB CPU Liquid Cooler<br>Price: $ 299.99</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61K1tfVA6fL._AC_SX679_.jpg"></image>Lian Li GA-360A Galahad AIO<br>360mm RGB White CPU Liquid Cooler<br>Price: $ 158.99</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61EGIcUmxXL._AC_SX679_.jpg"></image>ASUS ROG Strix LC II 360mm<br>ARGB AIO Liquid CPU Cooler<br>Price: $ 248.99</div>
                        <div id="g_6" class="object"><image class="images"src="https://static.wixstatic.com/media/5184c2_7ceb4b677482404ba70c4f9cc12182d1~mv2.jpg/v1/fill/w_500,h_375,al_c,q_85,usm_0.66_1.00_0.01/5184c2_7ceb4b677482404ba70c4f9cc12182d1~mv2.webp"></image>ID Cooling SE914-XT aRGB<br>Price: $ 26.0</div>
                        <div id="g_6" class="object"><image class="images"src="https://static.wixstatic.com/media/5184c2_a4784e3b792a49059d080276eb996e73~mv2.jpg/v1/fill/w_500,h_375,al_c,q_85,usm_0.66_1.00_0.01/5184c2_a4784e3b792a49059d080276eb996e73~mv2.webp"></image>ID Cooling SE-224-XT ARGB DUET<br>Price: $ 44.0</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71w59zv59KL._AC_SX679_.jpg"></image>Cooler Master MasterLiquid ML240L RGB V2<br>AIO CPU Liquid Cooler Dual SickleFlow 120mm<br>Price: $ 109.17</div>
                    </div>
                    <div id="object_fan" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/617RMf+1BaL._AC_SX679_.jpg"></image>Corsair AF120 LED Low Noise Cooling<br>Fan Triple Pack-White Cooling<br>Price: $ 54.46</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61dvcmphwoS._AC_SX679_.jpg"></image>CORSAIR iCUE SP120 RGB Elite Performance<br>120mm White PWM Triple Fan<br>Price: $ 69.19</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71YWFqY4P4L._AC_SX679_.jpg"></image>Corsair iCUE SP120 RGB Pro Performance<br>120mm Triple Fan Kit<br>Price: $ 65.12</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61qnCcksoTL._AC_SX679_.jpg"></image>Cooler Master SickleFlow 120 V2<br>ARGB White Edition<br>Price: $ 64.18</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81CERlzTKxL._AC_SX569_.jpg"></image>Corsair LL Series LL140 RGB<br>140mm Dual Light Loop RGB LED<br>Price: $ 42.32</div>                   
                    </div>
                    <div id="object_case" style="display:none">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81hL4tPkXZL._AC_SX679_.jpg"></image>Corsair 4000D Airflow Tempered Glass<br>Mid-Tower ATX PC Case-Black<br>Price: $ 151.68</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81EYYNlBjUL._AC_SX679_.jpg"></image>Corsair iCUE 4000X RGB Mid-Tower<br>ATX PC Case-White <br>Price: $ 104.22</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71fbDydGAqS._AC_SX679_.jpg"></image>MSI MAG Series FORGE 100M LIT<br>Mid-Tower Tempered Glass<br>Price: $ 91.99</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71-SDwBVUYL._AC_SX679_.jpg"></image>Lian Li LANCOOL II MESH C RGB-S<br>Mid-Tower Snow White<br>Price: $ 129.99</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71Dg9B5mmpL._AC_SY679_.jpg"></image>Thermaltake V200 Tempered Glass<br>RGB Edition<br>Price: $ 110.93</div>     
                        <div id="g_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61+Lb75RtWL._AC_SX679_.jpg"></image>NZXT H710i CA-H710 i-W1-ATX<br>Mid Tower<br>Price: $ 236.63</div>                
                        <div id="g_8" class="object"><image class="images"src="https://m.media-amazon.com/images/I/41xS9S-0tjL._AC_SX679_.jpg"></image>Cylon White RGB<br>Mid Tower Computer Case<br>Price: $ 81.30</div>              
                    </div>                    
                    <div id="object_accessory" style="display: none;">
                        <div id="g_1" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71jMyZXiKBL._AC_SX679_.jpg"></image>Lian Li Strimer RGB PSU Cable<br>black, 24 Pin Strimmer<br>Price: $ 50.99</div>
                        <div id="g_2" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61mpMH5TzkL._AC_SX679_.jpg"></image>Logitech G502 HERO<br>High Performance Wired<br>Price: $ 44.49</div>
                        <div id="g_3" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51F+3R+x6IS._AC_SX679_.jpg"></image>Razer DeathAdder Essential<br>6400 DPI Optical<br>Price: $ 38.12</div>
                        <div id="g_4" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61a0KNfNNNL._AC_SX679_.jpg"></image>Corsair Nightsword RGB<br>Comfort Performance Tunable<br>Price: $ 109.20</div>
                        <div id="g_6" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61o8vCjFk7L._AC_SX679_.jpg"></image>Logitech G Pro Wireless<br>with Esports Grade Performance<br>Price: $ 67.50</div>
                        <div id="g_7" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71J7OX732ZL._AC_SX679_.jpg"></image>Razer Mamba Wireless<br>16,000 DPI Optical Sensor<br>Price: $ 99.99</div>
                        <div id="g_8" class="object"><image class="images"src="https://images-na.ssl-images-amazon.com/images/I/81ACRfPHn-L.__AC_SX300_SY300_QL70_FMwebp_.jpg"></image>Razer Goliathus<br>Extended Chroma Gaming Mousepad<br>Price: $ 79.99</div>
                        <div id="g_9" class="object"><image class="images"src="https://m.media-amazon.com/images/I/51RceMOeuRL._AC_SX679_.jpg"></image>Corsair MM300 - Anti-Fray Cloth Gaming Mouse Pad<br>Price: $ 39.99</div>
                        <div id="g_10" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71wvjUf7tcL._AC_SX679_.jpg"></image>Razer Sphex V2 Gaming Mouse Pad<br>Price: $ 44.44</div>
                        <div id="g_11" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61pUul1oDlL._AC_SX679_.jpg"></image>Logitech MK270 Wireless Keyboard<br>& Mouse Combo for Windows<br>Price: $ 60.22</div>
                        <div id="g_12" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61WgmLgwuQL._AC_SX679_.jpg"></image>Razer Cynosa Chroma Gaming Keyboard<br>Price: $ 59.99</div>
                        <div id="g_13" class="object"><image class="images"src="https://m.media-amazon.com/images/I/81dLH5W903L._AC_SX679_.jpg"></image>SteelSeries Apex 3 TKL<br>RGB Gaming Keyboard<br>Price: $ 55.55</div>
                        <div id="g_14" class="object"><image class="images"src="https://m.media-amazon.com/images/I/711y8vC4+nL._AC_SX679_.jpg"></image>Razer BlackWidow V3 Mini<br>HyperSpeed 65% Wireless<br>Mechanical Gaming Keyboard<br>Price: $ 179.99</div>
                        <div id="g_15" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61WgmLgwuQL._AC_SX679_.jpg"></image>Razer Cynosa Chroma,<br>Programmable Macro Functionality<br>Price: $ 79.99</div>
                        <div id="g_16" class="object"><image class="images"src="https://m.media-amazon.com/images/I/61CGHv6kmWL._AC_SX425_.jpg"></image>BENGOO G9000 Stereo Gaming Headset<br>Price: $ 69.66</div>
                        <div id="g_17" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71Wuv0p6UfL._AC_SX679_.jpg"></image>Razer Kraken Ultimate RGB<br>USB Gaming Headset<br>Price: $ 129.99</div>
                        <div id="g_18" class="object"><image class="images"src="https://m.media-amazon.com/images/I/71M5l+O4OFL._AC_SX425_.jpg"></image>HyperX Cloud II-Gaming Headset<br>Price: $ 59.99</div>
                        <div id="g_19" class="object"><image class="images"src="https://m.media-amazon.com/images/I/514FVC+IWqL._AC_SX679_.jpg"></image>For More About Gaming Chair<br><a style="background-color: brown;color:red;" href="https://www.amazon.com/s?k=gaming+chair&crid=1T3ZH8YFGWLQ0&sprefix=gamilgn%2Caps%2C469&ref=nb_sb_ss_sc_2_7" target="_blank">CLICK HERE</a></div>
                        <div id="g_20" class="object"><image src="../images/pc/gaming accessories.png"  class="images"></image>For More About Accessories For PC<br><a href="https://www.amazon.com/s?k=gaming+accessories+for+pc+setup&crid=1989QEBOXRLLZ&sprefix=gaming+acce%2Caps%2C744&ref=nb_sb_ss_ts-doa-p_2_11" style="background-color: brown;color:red;"  target="_blank">CLICK HERE</a></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <script src="../scripts/script.js"></script>
        <script src="../scripts/pc.js"></script>
    </footer>
</html>