<html lang="en-US">
<html>
    <head>
        <title>Playstation</title>
        <meta name="author" content="Winston Tech">
        <meta name="description" content="Winston Tech,computer and accessories">
        <meta name="keywords" content="techanology,Winston Tech,computer and accessories,computer,graphics,monitors,tech,winston,myanmar,techmyanmar,nividia,worth buying,computer tech,tech winston,tech,pc,laptop,desktop,monitor,cpu,gpu,shop">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="../style/shop.css">
        <link rel="stylesheet" href="../style/consoles.css">
        <script src="https://kit.fontawesome.com/e03dfdd076.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="nav_bar">
                <div id="headings">
                    <div id="heading">Winston Tech</div>
                    <div id="smallheading">PC, Consoles & Accessories sales</div>
                </div>
                <div id="nav">
                    <div id="go_to">
                        <a href="../index.html" title="To Home Page">Home</a>
                        <a href="../templates/pc.html" title="To Shop Page">Shop</a>
                        <a href="#">FAQ</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="search">
                    <input type="search" id="inputs" placeholder="Search...">
                    <i id="search" onclick="search()" class="fa-solid fa-magnifying-glass" title="search"></i>
                    <div id="caretdown" style="display:none" title="caret-down" onclick="caret()"><i class="fa-solid fa-caret-down"></i></div>
                    <div onclick="caret()" title="caret-up" id="caretup"><i class="fa-solid fa-caret-up"></i></div></div>
                </div>
            </div>
        </header>
        <main>
            <div id="second_sec">
                <div id="shop_choice">
                    <a href="../templates/pc.html"><i class="fa-solid fa-computer"></i><div id="pc"> PC </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/playstation.html"style="font-size:22px;color:rgb(12, 12, 94)"><i class="fa-brands fa-playstation"></i><div id="ps"> Playstation </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/xbox.html"><i class="fa-brands fa-xbox"></i><div id="xb"> X-Box </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/nintendo.html"><i class="fab fa-nintendo-switch"></i><div id="nin"> Nintendo </div><i class="fa-solid fa-caret-right"></i></a>
                </div>
                <div id="console_plain">
                    <div id="consoles">
                        <div class="objects" id=""><a href="#"><image class="images" src="../images/ps/ps5.jpg"></image><div class="title">PlayStation 5 Console<br>(Disc Version)</div><br>Price: $ 929.50</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://www.qoovee.com/media/files/71p6rZnGPoL._AC_SL1500_.jpg"></image><div class="title">PlayStation 5 Console<br>(Digital Version)</div><br>Price: $ 890.35</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="../images/ps/ps4.jpg"></image><div class="title">PlayStation 4 Console<br>(Slim 4TB Black)</div><br>Price: $ 520.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images"  src="https://m.media-amazon.com/images/I/61n-yWHcmSS._AC_SX679_.jpg"></image><div class="title">PlayStation 4  Console<br>(Slim 1TB Black)</div><br>Price: $ 446.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61+EpbRV8yL._AC_SX425_.jpg"></image><div class="title">PlayStation 4 Console<br>(Pro 1TB Black)</div><br>Price: $ 515.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images"  src="https://m.media-amazon.com/images/I/61ypl-HO+WS._SX466_.jpg"></image><div class="title">Playstation DualSense Wireless Controller</div><br>Price: $ 49.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61WwOz-832L._SX466_.jpg"></image><div class="title">$100 PlayStation Store Gift Card<br>[Digital Code]</div><br>Price: $ 100.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61JvACIik9L._SX466_.jpg"></image><div class="title">$25 PlayStation Store Gift Card<br>[Digital Code]</div><br>Price: $ 25.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81goNGEYm6L._SX385_.jpg"></image><div class="title">Elden Ring(PlayStation 5)</div><br>Price: $ 53.98</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81yuT9n7gkL._SX342_.jpg"></image><div class="title">Elden Ring(PlayStation 4)</div><br>Price: $ 49.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81lv-ODosBL._SX342_.jpg"></image><div class="title">Horizon Forbidden West Special<br>Edition(PlayStation 5)</div><br>Price: $ 105.59</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81tdRcle46L._SX342_.jpg"></image><div class="title">Horizon Forbidden West<br>Launch Edition(PlayStation 4)</div><br>Price: $ 59.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/712yYYl5mGL._SX342_.jpg"></image><div class="title">Tom Clancy's Rainbow Six<br>Extraction(PlayStation 5)</div><br>Price: $ 58.91</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71j+NubAXtL._SX342_.jpg"></image><div class="title"></div>Tom Clancy's Rainbow Six<br>Extraction(PlayStation 5><br>Price: $ 57.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71zCSM4GMWL._SX342_.jpg"></image><div class="title">Jumanji: The Video Game<br>(PlayStation 5)</div><br>Price: $ 27.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81cueu3YjgL._SX342_.jpg"></image><div class="title">Far Cry 6 Standard<br>Edition(PlayStation 5)</div><br>Price: $ 54.95</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81fypNGG2uL._SX342_.jpg"></image><div class="title">Far Cry 6 Standard<br>Edition(PlayStation 4)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61+s8HfeFoL._AC_UY218_.jpg"></image><div class="title">GTA V<br>(PlayStation 4)</div><br>Price: $ 29.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://images-na.ssl-images-amazon.com/images/I/51fbu9jCezL._SX300_SY300_QL70_FMwebp_.jpg"></image><div class="title">Marvel's Guardians of the<br> Galaxy(PlayStation 5)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://images-na.ssl-images-amazon.com/images/I/518THd6oWqL._SX300_SY300_QL70_FMwebp_.jpg"></image><div class="title">Assassin's Creed Valhalla<br>Standard Edition(PlayStation 5)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/91-tzg8N8pL._SX342_.jpg"></image><div class="title">The Witcher 3 Game of<br>the Year Edition(PS4)</div><br>Price: $ 27.50</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/817dIPZKz9L._AC_UY218_.jpg"></image><div class="title">FIFA 22(PlayStation 5)</div><br>Price: $ 59.99</a></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <script src="../scripts/script.js"></script>
    </footer>
</html>