<html lang="en-US">
<html>
    <head>
        <title>X-Box</title>
        <meta name="author" content="Winston Tech">
        <meta name="description" content="Winston Tech,computer and accessories">
        <meta name="keywords" content="techanology,Winston Tech,computer and accessories,computer,graphics,monitors,tech,winston,myanmar,techmyanmar,nividia,worth buying,computer tech,tech winston,tech,pc,laptop,desktop,monitor,cpu,gpu,shop">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="../style/shop.css">
        <link rel="stylesheet" href="../style/consoles.css">
        <script src="https://kit.fontawesome.com/e03dfdd076.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="nav_bar">
                <div id="headings">
                    <div id="heading">Winston Tech</div>
                    <div id="smallheading">PC, Consoles & Accessories sales</div>
                </div>
                <div id="nav">
                    <div id="go_to">
                        <a href="../index.html" title="To Home Page">Home</a>
                        <a href="../templates/pc.html" title="To Shop Page">Shop</a>
                        <a href="#">FAQ</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="search">
                    <input type="search" id="inputs" placeholder="Search...">
                    <i id="search" class="fa-solid fa-magnifying-glass" title="search" onmouseover="searching()"></i>
                    <div id="caretdown" style="display:none" title="caret-down" onclick="caret()"><i class="fa-solid fa-caret-down"></i></div>
                    <div onclick="caret()" title="caret-up" id="caretup"><i class="fa-solid fa-caret-up"></i></div></div>
                </div>
            </div>
        </header>
        <main>
            <div id="second_sec">
                <div id="shop_choice">
                    <a href="../templates/pc.html"><i class="fa-solid fa-computer"></i><div id="pc"> PC </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/playstation.html"><i class="fa-brands fa-playstation"></i><div id="ps"> Playstation </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/xbox.html"style="font-size:22px;color:rgb(12, 12, 94)"><i class="fa-brands fa-xbox"></i><div id="xb"> X-Box </div><i class="fa-solid fa-caret-right"></i></a>
                    <a href="../templates/nintendo.html"><i class="fab fa-nintendo-switch"></i><div id="nin"> Nintendo </div><i class="fa-solid fa-caret-right"></i></a>
                </div>
                <div id="console_plain">
                    <div id="consoles">
                        <div class="objects" id="h"><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71NBQ2a52CL._SX466_.jpg"></image><div class="title">Xbox Series S</div><br>Price: $ 297.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/51q-aP4aNrL._SX466_.jpg"></image><div class="title">Xbox Series X</div><br>Price: $ 645.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61ux1cU49XL._SX522_.jpg"></image><div class="title">Microsoft Xbox One X 1Tb Console<br>With Wireless Controller</div><br>Price: $ 700.9</a></div>
                        <div class="objects" id=""><a href="#"><image class="images"  src="https://m.media-amazon.com/images/I/61TYF+XHIzL._SX466_.jpg"></image><div class="title">Xbox Wireless Controller<br>20th Anniversary Special Edition</div><br>Price: $ 77.97</a></div>
                        <div class="objects" id=""><a href="#"><image class="images"  src="https://m.media-amazon.com/images/I/61z3GQgEPZL._SX466_.jpg"></image><div class="title">Xbox Core Wireless Controller-Carbon Black</div><br>Price: $ 79.95</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/51z1NgSEjgL._SX522_.jpg"></image><div class="title">Xbox Core Wireless Controller-Pulse Red</div><br>Price: $79.95</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61SlYPPR57S._SX466_.jpg"></image><div class="title">$20 Xbox Gift Card<br>[Digital Code]</div><br>Price: $20.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61vk6O7mGeL._SY445_.jpg"></image><div class="title">Xbox Live Gold(12 Month Membership)<br>[Digital Code]</div><br>Price: $ 74.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/61xmJC5KdeL._AC_UY218_.jpg"></image><div class="title">Elden Ring<br>(Xbox Series X/S)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71hirwQpnkL._AC_UY218_.jpg"></image><div class="title">Minecraft Dungeons: Hero Edition<br>(Xbox Series X, Xbox One)</div><br>Price: $ 48.0</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71ZToFMZq-L._AC_UY218_.jpg"></image><div class="title"></div>Grand Theft Auto:The Trilogy<br>(Xbox Series X)<br>Price: $ 90.38</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81-a4r+99mL._AC_UY218_.jpg"></image><div class="title">Dying Light 2 Stay Human(Xbox Series X)</div><br>Price: $ 59.98</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71LSwnEXpXL._AC_UY218_.jpg"></image><div class="title">Forza Horizon 5: Standard Edition<br>(Xbox Series X, Xbox One)</div><br>Price: $ 74.34</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81m4tczY1+L._AC_UY218_.jpg"></image><div class="title">Far Cry 6 Standard<br>Edition(Xbox Series X/S, XboxOne)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81mhHOzIiSL._AC_UY218_.jpg"></image><div class="title">Marvel's Guardians of the<br>Galaxy(Xbox Series X/Xbox One)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/81XDBmZCsdL._AC_UY218_.jpg"></image><div class="title">Assassin's Creed Valhalla<br>(Xbox Series X/Xbox One)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/817fHpizabL._AC_UY218_.jpg"></image><div class="title">FIFA 22(Xbox Series X)</div><br>Price: $ 59.99</a></div>
                        <div class="objects" id=""><a href="#"><image class="images" src="https://m.media-amazon.com/images/I/71+ZWsK2ilS._AC_UY218_.jpg"></image><div class="title">GTA V: Premium Edition<br>(Xbox Series X)</div><br>Price: $ 29.99</a></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <script src="../scripts/script.js"></script>
    </footer>
</html>